# Ignore logs
logs/

# Ignore Excel files
*.xlsx

# Ignore CSV files
*.csv

# Ignore Parquet files
*.parquet

# Ignore Environment files
*.env

.git
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
*.json
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db