# ignore logs
logs/

# Ignore Excel files
*.xlsx

# Ignore CSV files
*.csv

# Ignore json files
*.json

# Ignore Parquet files
*.parquet

# Ignore Environment files
*.env

# Python Venv
venv/

.git
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db